@import url("reset.css");
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: #0D0D11;
  color: #9C9C9C;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

[class*=__container] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0px 15px;
}

.button {
  display: inline-block;
  padding: 16px 30px;
  border-radius: 50px;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  background-color: #3D96F4;
  color: #FFFFFF;
  transition: background-color 0.3s ease 0s;
}
.button:hover {
  background-color: #68a9f0;
}

.button--dark {
  background-color: rgba(129, 129, 139, 0.2);
  transition: background-color 0.3 ease 0s;
}
.button--dark:hover {
  background-color: rgba(114, 114, 125, 0.4);
}

.header-main__title {
  font-weight: 500;
  font-size: 51px;
  line-height: 1.19;
  color: #FFFFFF;
  position: relative;
}
.header-main__title:not(:last-child) {
  margin-bottom: 28px;
}
.header-main__text {
  font-size: 18px;
  line-height: 1.5;
  color: #9c9c9c;
}
.header-main__text:not(:last-child) {
  margin-bottom: 33px;
}
.header-main__actions {
  display: flex;
  column-gap: 32px;
  row-gap: 15px;
}

@media (max-width: 991.98px) {
  .header-main__title {
    font-size: 44px;
  }
}
@media (min-width: 768px) {
  .header-main__title {
    max-width: 520px;
  }
  .header-main__text {
    max-width: 500px;
  }
}
@media (max-width: 767.98px) {
  .header-main__title {
    font-size: 32px;
  }
  .header-main__title:not(:last-child) {
    margin-bottom: 15px;
  }
  .header-main__text:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media (max-width: 479.98px) {
  .header-main__actions {
    flex-direction: column;
  }
}
.text {
  line-height: 1.5;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background-color: rgba(13, 13, 17, 0.7);
}
.header__container {
  display: flex;
  column-gap: 35px;
  align-items: center;
  min-height: 116px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header__logo, .header__cart, .header__button {
  position: relative;
  z-index: 5;
}
.header__menu {
  flex: 1 1 auto;
}
.header__button {
  flex: 0 0 auto;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 5px;
  justify-content: flex-end;
}
.menu__link {
  display: block;
  font-size: 16px;
  line-height: 1.62;
  color: #FFFFFF;
}
.menu__link:hover {
  text-decoration: underline;
}

.icon-menu {
  display: none;
}

.cart-header {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 5px;
}
.cart-header__text {
  font-size: 18px;
  line-height: 1.55;
  color: #FFFFFF;
}
.cart-header__text:hover {
  text-decoration: underline;
}
.cart-header__quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(129, 129, 139, 0.3);
  border-radius: 50%;
}

@media (max-width: 991.98px) {
  .header__container {
    gap: 25px;
    min-height: 90px;
  }
  .menu__list {
    gap: 25px;
  }
  .button {
    padding: 14px 20px;
  }
}
@media (max-width: 767.98px) {
  .header__container {
    gap: 15px;
    min-height: 70px;
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    padding: 100px 15px 30px 15px;
    left: -100%;
    top: 0;
    overflow: auto;
    transition: left 0.3s ease 0s;
  }
  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #000;
    z-index: 2;
    transition: left 0.3s ease 0s;
  }
  .menu__list {
    row-gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu__link {
    font-size: 32px;
  }
  .menu-open .menu__body, .menu-open__open .menu-open__body::before {
    left: 0;
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }
  .icon-menu {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    transition: all 0.3s ease 0s;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
}
@media (max-width: 560px) {
  .header__logo {
    width: 44px;
    overflow: hidden;
  }
  .cart-header__text {
    display: none;
  }
  .cart-header__quantity {
    width: 47px;
    height: 45px;
    padding-left: 9px;
    border-radius: 0;
    background: url(../img/shopping-cart.svg) center/auto 100% no-repeat;
  }
}
@media (max-width: 358.98px) {
  .header__logo {
    margin-right: -19px;
  }
}
.main {
  padding-top: 160px;
  padding-bottom: 100px;
}
.main__container {
  display: flex;
  gap: 32px;
}
.main__content {
  flex: 0 1 50%;
  align-self: center;
}
.main__text {
  color: #9c9c9c;
}
.main__header {
  position: relative;
}
.main__header::before {
  content: "";
  background: url(../img/decor.svg) 0 0/100% no-repeat;
  width: 122px;
  height: 122px;
  position: absolute;
  top: -20px;
  left: -29px;
}
.main__images {
  flex: 0 1 50%;
}

.images-main {
  display: flex;
  justify-content: center;
  gap: 9.61%;
}
.images-main__column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.images-main__item {
  overflow: hidden;
}
.images-main__item img {
  max-width: 100%;
}
.images-main .images-main__img--elipse {
  border-radius: 50%/29%;
}
.images-main .images-main__img--top-corner {
  border-radius: 50% 0 50% 50%;
}
.images-main__img {
  border-radius: 50% 50% 0 50%;
}

@media (max-width: 991.98px) {
  .main {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}
@media (max-width: 767.98px) {
  .main {
    padding-top: 100px;
    padding-bottom: 30px;
  }
  .main__container {
    flex-direction: column;
  }
  .main__content {
    align-self: stretch;
  }
}
.footer {
  margin-top: auto;
}