@import url("reset.css");
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: #0D0D11;
  color: #9C9C9C;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

[class*=__container] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0px 15px;
}

.button {
  display: inline-block;
  padding: 16px 30px;
  border-radius: 50px;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  background-color: #3D96F4;
  color: #FFFFFF;
  transition: background-color 0.3s ease 0s;
}
.button:hover {
  background-color: #68a9f0;
}

.button--dark {
  background-color: rgba(129, 129, 139, 0.2);
  transition: background-color 0.3 ease 0s;
}
.button--dark:hover {
  background-color: rgba(114, 114, 125, 0.4);
}

.header-main__title {
  font-weight: 500;
  font-size: 51px;
  line-height: 1.19;
  color: #FFFFFF;
  position: relative;
}
.header-main__title:not(:last-child) {
  margin-bottom: 28px;
}
.header-main__body {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.header-main__body .header-main__actions {
  align-self: flex-end;
  flex: 0 0 auto;
}
.header-main__body .header-main__title {
  max-width: none;
}
.header-main__body .header-main__text {
  max-width: 740px;
}
.header-main__text {
  font-size: 18px;
  line-height: 1.5;
  color: #9c9c9c;
}
.header-main__text:not(:last-child) {
  margin-bottom: 33px;
}
.header-main__actions {
  display: flex;
  column-gap: 32px;
  row-gap: 15px;
}
.header-main__button {
  align-self: flex-end;
}
.header-main__label {
  display: inline-block;
  color: #9c9c9c;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid rgba(129, 129, 139, 0.2);
  border-radius: 12px;
  padding: 12px 19px;
  transition: box-shadow 0.2s ease 0s;
}
.header-main__label:hover {
  box-shadow: 0px 0px 5px 3px rgb(54, 52, 52);
}
.header-main__label:not(:last-child) {
  margin-bottom: 19px;
}
.header-main__list li {
  position: relative;
  min-height: 32px;
  color: #9C9C9C;
  line-height: 1.5;
  padding-left: 40px;
  padding-top: 4px;
}
.header-main__list li:not(:last-child) {
  margin-bottom: 16px;
}
.header-main__list li::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  left: 0;
  top: 0;
  border-radius: 50%;
  background: rgba(129, 129, 139, 0.1) url(../img/check.svg) center no-repeat;
}

.header-main__body .header-main__text {
  margin: 0;
}

@media (max-width: 991.98px) {
  .header-main__title {
    font-size: 44px;
  }
}
@media (min-width: 768px) {
  .header-main__title {
    max-width: 520px;
  }
  .header-main__text {
    max-width: 500px;
  }
}
@media (max-width: 767.98px) {
  .header-main__title {
    font-size: 32px;
  }
  .header-main__title:not(:last-child) {
    margin-bottom: 15px;
  }
  .header-main__text:not(:last-child) {
    margin-bottom: 15px;
  }
  .header-main__body {
    flex-direction: column;
    gap: 0;
  }
  .header-main__body .header-main__actions {
    align-self: flex-start;
  }
}
@media (max-width: 479.98px) {
  .header-main__actions {
    flex-direction: column;
  }
}
.text {
  color: #81818b;
  line-height: 1.5;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background-color: rgba(13, 13, 17, 0.7);
}
.header__container {
  display: flex;
  column-gap: 35px;
  align-items: center;
  min-height: 116px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header__logo, .header__cart, .header__button {
  position: relative;
  z-index: 5;
}
.header__menu {
  flex: 1 1 auto;
}
.header__button {
  flex: 0 0 auto;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 5px;
  justify-content: flex-end;
}
.menu__link {
  display: block;
  font-size: 16px;
  line-height: 1.62;
  color: #FFFFFF;
}
.menu__link:hover {
  text-decoration: underline;
}

.icon-menu {
  display: none;
}

.cart-header {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 5px;
}
.cart-header__text {
  font-size: 18px;
  line-height: 1.55;
  color: #FFFFFF;
}
.cart-header__text:hover {
  text-decoration: underline;
}
.cart-header__quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(129, 129, 139, 0.3);
  border-radius: 50%;
}

@media (max-width: 991.98px) {
  .header__container {
    gap: 25px;
    min-height: 90px;
  }
  .menu__list {
    gap: 25px;
  }
  .button {
    padding: 14px 20px;
  }
}
@media (max-width: 767.98px) {
  .header__container {
    gap: 15px;
    min-height: 70px;
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    padding: 100px 15px 30px 15px;
    left: -100%;
    top: 0;
    overflow: auto;
    transition: left 0.3s ease 0s;
  }
  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #000;
    z-index: 2;
    transition: left 0.3s ease 0s;
  }
  .menu__list {
    row-gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu__link {
    font-size: 32px;
  }
  .menu-open .menu__body, .menu-open__open .menu-open__body::before {
    left: 0;
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }
  .icon-menu {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    transition: all 0.3s ease 0s;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
}
@media (max-width: 560px) {
  .header__logo {
    width: 44px;
    overflow: hidden;
  }
  .cart-header__text {
    display: none;
  }
  .cart-header__quantity {
    width: 47px;
    height: 45px;
    padding-left: 9px;
    border-radius: 0;
    background: url(../img/shopping-cart.svg) center/auto 100% no-repeat;
  }
}
@media (max-width: 358.98px) {
  .header__logo {
    margin-right: -19px;
  }
}
.main {
  padding-top: 160px;
  padding-bottom: 100px;
}
.main__container {
  display: flex;
  gap: 32px;
}
.main__content {
  flex: 0 1 50%;
  align-self: center;
}
.main__text {
  color: #9c9c9c;
}
.main__header {
  position: relative;
}
.main__header::before {
  content: "";
  background: url(../img/decor.svg) 0 0/100% no-repeat;
  width: 122px;
  height: 122px;
  position: absolute;
  top: -20px;
  left: -29px;
}
.main__images {
  flex: 0 1 50%;
}

.images-main {
  display: flex;
  justify-content: center;
  gap: 9.61%;
}
.images-main__column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.images-main__item {
  overflow: hidden;
}
.images-main__item img {
  max-width: 100%;
}
.images-main .images-main__img--elipse {
  border-radius: 50%/29%;
}
.images-main .images-main__img--top-corner {
  border-radius: 50% 0 50% 50%;
}
.images-main__img {
  border-radius: 50% 50% 0 50%;
}

@media (max-width: 991.98px) {
  .main {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}
@media (max-width: 767.98px) {
  .main {
    padding-top: 100px;
    padding-bottom: 30px;
  }
  .main__container {
    flex-direction: column;
  }
  .main__content {
    align-self: stretch;
  }
}
.clients {
  padding-top: 100px;
  padding-bottom: 70px;
}
.clients__title {
  font-size: 14px;
  line-height: 1.57;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 44px;
}
.clients__items {
  display: flex;
  gap: 15px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.clients__item img {
  max-width: 100%;
}

@media (max-width: 991.98px) {
  .clients {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .clients__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  .clients {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .clients__title {
    margin-bottom: 20px;
  }
}
.services {
  padding-top: 70px;
  padding-bottom: 100px;
}
.services__container {
  display: flex;
  gap: 32px;
}
.services__content {
  flex: 0 1 50%;
  align-self: center;
}
.services__items {
  flex: 0 1 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.services__column:first-child {
  padding-top: 48px;
}

.item-service {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding: 55px 25px;
}
.item-service__icon:not(:last-child) {
  margin-bottom: 16px;
}
.item-service__title {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.42;
  color: #FFFFFF;
}
.item-service__title:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 1100px) {
  .services__container {
    flex-direction: column;
  }
  .services__header .header-main__title,
.services__header .header-main__text {
    max-width: none;
  }
}
@media (max-width: 991.98px) {
  .services {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .services {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 620px) {
  .services__column {
    grid-column: 1/-1;
  }
  .services__column:first-child {
    padding-top: 0px;
  }
}
.why {
  padding-top: 100px;
  padding-bottom: 100px;
}
.why__container {
  display: flex;
  column-gap: 64px;
  row-gap: 32px;
}
.why__images {
  flex: 0 1 50%;
}
.why .images-why {
  display: flex;
  position: relative;
  align-self: flex-end;
}
.why .images-why::before {
  content: "";
  background: url(../img/decor.svg) 0 0/100% no-repeat;
  width: 122px;
  height: 122px;
  position: absolute;
  left: -10px;
  bottom: 0px;
}
.why .images-why__item {
  overflow: hidden;
}
.why .images-why__item img {
  max-width: 100%;
}
.why .images-why__item--1 {
  border-radius: 90% 0 50% 50%/48% 0 28% 28%;
}
.why .images-why__item--2 {
  align-self: flex-end;
  border-radius: 50% 50% 50% 0;
}
.why__content {
  flex: 0 1 50%;
  align-self: center;
}

@media (max-width: 991.98px) {
  .why {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .why {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .why__container {
    flex-direction: column-reverse;
  }
}
.advantages {
  padding-top: 100px;
  padding-bottom: 100px;
}
.advantages__container {
  display: flex;
  row-gap: 32px;
}
.advantages__items {
  flex: 1 1 auto;
  padding-right: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
}
.advantages__item {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding: 40px;
}
.advantages__value {
  font-size: 51px;
  font-weight: 500;
  color: #FFFFFF;
}
.advantages__value:not(:last-child) {
  margin-bottom: 32px;
}
.advantages__text {
  font-size: 18px;
  line-height: 1.5;
}
.advantages__image img {
  max-width: 100%;
  transform: scale(1.01);
}
.advantages__image {
  align-self: flex-end;
  flex: 0 0 38%;
  overflow: hidden;
  border-radius: 0% 61% 52% 51%/44% 51%;
}

@media (max-width: 991.98px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .advantages__container {
    flex-direction: column;
  }
  .advantages__items {
    padding-right: 0;
  }
  .advantages__image {
    align-self: center;
  }
}
@media (max-width: 767.98px) {
  .advantages {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 650px) {
  .advantages__items {
    grid-template-columns: auto;
  }
}
.testimonials {
  padding-top: 100px;
  padding-bottom: 100px;
}
.testimonials__header {
  margin-bottom: 64px;
}
.testimonials__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.user-testimanial {
  display: flex;
  align-items: center;
  gap: 16px;
}
.user-testimanial__avatar {
  flex: 0 0 68px;
  overflow: hidden;
}
.user-testimanial__avatar img {
  max-width: 100%;
  transform: scale(1.02);
}
.user-testimanial__avatar--1 {
  border-radius: 0 50% 50% 50%;
}
.user-testimanial__avatar--2 {
  border-radius: 50% 0 50% 50%;
}
.user-testimanial__avatar--3 {
  border-radius: 50% 50% 0 50%;
}
.user-testimanial__title {
  line-height: 1.5;
  color: #FFFFFF;
}
.user-testimanial__title:not(:last-child) {
  margin-bottom: 7px;
}
.user-testimanial__company {
  font-size: 14px;
  line-height: 1.57;
}

.item-testimonial {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 64px 40px;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
}
.item-testimonial__title {
  font-size: 32px;
  line-height: 1.4;
  color: #FFFFFF;
}
.item-testimonial__text {
  font-size: 15px;
  flex: 1 1 auto;
  line-height: 1.5;
}

.checked {
  color: #FFC54F;
}

@media (max-width: 1100px) {
  .testimonials__items {
    grid-template-columns: auto;
  }
}
@media (max-width: 991.98px) {
  .testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .testimonials__header {
    margin-bottom: 40px;
  }
}
@media (max-width: 767.98px) {
  .testimonials {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .item-testimonial {
    padding: 30px 15px;
  }
}
.blog {
  padding-top: 100px;
  padding-bottom: 200px;
}
.blog__header {
  margin-bottom: 64px;
}
.blog__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}

.item-blog {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.item-blog__header {
  position: relative;
}
.item-blog__category {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 14px;
  line-height: 1.57;
  color: #FFFFFF;
  padding: 10px;
  background: rgba(129, 129, 139, 0.5);
  border-radius: 0px 10px 0px 0px;
}
.item-blog__image {
  display: block;
  position: relative;
  padding-bottom: 49.23%;
}
.item-blog__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.item-blog__body {
  padding: 36px 26px;
}
.item-blog__date {
  color: rgba(129, 129, 139, 0.9);
}
.item-blog__date:not(:last-child) {
  margin-bottom: 20px;
}
.item-blog__title {
  font-size: 19px;
  line-height: 1.42;
  color: #FFFFFF;
}
.item-blog__title:hover {
  text-decoration: underline;
}
.item-blog__title:not(:last-child) {
  margin-bottom: 30px;
}
.item-blog__text:not(:last-child) {
  margin-bottom: 21px;
}
.item-blog__link {
  color: #3D96F4;
}
.item-blog__link:hover {
  text-decoration: underline;
}

@media (max-width: 1100px) {
  .blog__items {
    gap: 20px;
  }
  .item-blog__body {
    padding: 25px 15px;
  }
}
@media (max-width: 991.98px) {
  .blog {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .blog__header {
    margin-bottom: 44px;
  }
  .blog__items {
    grid-template-columns: auto;
  }
}
@media (max-width: 767.98px) {
  .blog {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .blog__header {
    margin-bottom: 25px;
  }
}
.start__body {
  display: flex;
  align-items: center;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding: 52px 40px;
}
.start__column {
  flex: 0 1 50%;
  text-align: center;
}
.start__title {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4;
}
.start__title:not(:last-child) {
  margin-bottom: 16px;
}
.start__text {
  max-width: 340px;
  display: inline-block;
}
.start__actions {
  display: flex;
  column-gap: 32px;
  row-gap: 25px;
  justify-content: center;
}

@media (max-width: 991.98px) {
  .start__body {
    align-items: stretch;
    flex-direction: column;
    row-gap: 30px;
  }
}
@media (max-width: 767.98px) {
  .start__title {
    font-size: 24px;
  }
}
@media (max-width: 479.98px) {
  .start__actions {
    flex-direction: column;
  }
}
.footer {
  margin-top: auto;
}